/* TextInput.css */
.text-input-container {
  transition: all 0.3s;
}

.text-input-container:focus-within {
  transform: scale(1.05);
}

.text-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e2e8f0;
  background-color: #fff; /* Ensure a white background */
  color: #000; /* Black text for better readability */
  transition: all 0.3s;
  font-size: 1rem; /* Ensure consistent font size */
}

.text-input:focus {
  border-color: #3182ce;
  box-shadow: 0 0 0 2px rgba(86, 176, 249, 0.5);
  outline: none; /* Remove default outline */
}

.text-input::placeholder {
  color: #a0aec0; /* Lighter gray for placeholders */
  font-size: 0.9rem; /* Slightly larger placeholder text */
}

.text-input::selection {
  background-color: #3182ce;
  color: #fff; /* White text on blue background */
}
